// h1, h2, h3, h4, h5, h6 { color: unset;display: unset;font-family: unset;font-size: unset;font-weight: unset;margin: 0;padding: 0; }
a:hover, a:focus, a:active { text-decoration: none; color: none; outline: none; @include transition( all 500ms ease 0s ); }
input, select, textarea { outline: none; @include appearance( unset ); }
input:focus, select:focus, textarea:focus { outline: none; @include box_shadow_input(none); }
input[type=checkbox] { @include appearance( checkbox ); }
input[type=radio] { @include appearance( radio ); }
figure { margin: 0; position: relative; z-index: 1; }
img { max-width: 100%; height: auto; }
form br { display: none; }
p { margin-bottom: 5px; }
.widget p { margin: 0; }
.form-control:focus { box-shadow: none; }
.stick { position: fixed; z-index: 9999; width: 100%; background: rgba(225,225,225,0.8); }
.fix-container { width: 1000px; margin: auto; padding-left: 15px; padding-right: 15px; }
.bao-while {
    background: rgba(255,255,255,0.7);
    padding: 15px 0;
}
.bao-faq { width: 830px; margin: auto; }

@font-face{
    font-family: 'MulishBold';
    src:url('../../dist/fonts/Mulish-Bold.ttf');
    font-display: swap;
}
@font-face{
    font-family: 'MulishRegular';
    src:url('../../dist/fonts/Mulish-Regular.ttf');
    font-display: swap;
}
@font-face{
    font-family: 'PlayfairDisplayBold';
    src:url('../../dist/fonts/SVN-PlayfairDisplay-Bold.ttf');
    font-display: swap;
}
@font-face{
    font-family: 'PlayfairDisplayRegular';
    src:url('../../dist/fonts/SVN-PlayfairDisplay-Regular.ttf');
    font-display: swap;
}

body {
	font-size: 14px;
    line-height: 1.4;
    color: $grey;
    font-family: 'MulishRegular';
    background-image: url("../images/img/bg-golden-line2.png");
    @include background_size( contain );
    background-repeat: repeat-y;
    background-position: top center;
}

.title-section {
    text-align: center;
    h1, h2 {
        display: inline-block;
        color: $orange;
        font-size: 30px;
        font-family: PlayfairDisplayBold;
        text-transform: uppercase;
        padding: 25px 0;
        margin: 25px 0 65px 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            width: 350px;
            height: 35px;
            @include transform( translateX(-50%) );
            background-image: url(../images/icon/title-after.png);
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 2;
        }
    }
}

.read-more-section {
    display: block;
    a {
        color: $orange;
        font-size: 20px;
        font-family: 'PlayfairDisplayRegular';
        font-style: italic;
        text-decoration: underline;
        padding: 15px 0;
        display: inline-block;
    }
}

.page-header {
    .page-header-content {
        padding: 10px 0;
        .page-banner {
            img {
                width: 100%;
            }
        }
    }
}


