@media screen and (min-width: 1200px) {
	.container { width: 100%; max-width: 1200px; }
}

@media screen and (max-width: 1199px) {
	.container { width: 100%; max-width: 100%; }
	.fix-container { width: 100%; max-width: 100%; }
	.bao-faq { width: 100%; max-width: 100%; }
	.stick { position: relative; }
	//arrow
	body {
	    .home-product-content {
	        .slick-prev {
	            left: 30px;
	        }
	        .slick-next {
	            right: 30px;
	        }
	    }
	    .page-feedback-content {
	        .page-feedback-video {
	            .slick-prev {
	                left: 30px;
	            }
	            .slick-next {
	                right: 30px;
	            }
	        }
	        .page-feedback-gallery {
	            .slick-prev {
	                left: 30px;
	            }
	            .slick-next {
	                right: 30px;
	            }
	        }
	    }
	}
	//header
	.header-right {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    @include transform( translate(-50%, -50%) );
	    z-index: 10;
	}
	//page-single
	.page-single .page-single-meta {
	    padding: 20px;
	}
	//page-feedback
	.page-feedback {
		.page-feedback-content {
			.page-feedback-gallery {
				.gallery-thumbs {
	    			padding: 0;
	    			ul {
					    margin: 0;
					    li {
						    margin: 15px 0;
						}
					}
				}
				a .gallery-full-info {
				    padding: 10px;
				}
			}
		}
	}
	//single-product
	.single-product-tab .single-product-tab-content .nav-tabs li a.nav-link {
		font-size: 18px;
	    padding: 15px;
	}
}
//end 1200px

@media screen and (max-width: 1024px) {

}
//end 1024px

@media screen and (max-width: 992px) {
	//footer
	.footer .footer-top .footer-map .footer-map-content {
	    width: 100%;
	}
	//single-product
	.single-product-tab .single-product-tab-content .nav-tabs li a.nav-link {
		font-size: 16px;
	    padding: 10px;
	}
	.team-doctor-popup-item figure {
	    width: 100%;
	    float: none;
	}
	.team-doctor-popup-item .info {
	    width: 100%;
	    float: none;
	}
	.modal .modal-dialog .modal-content .modal-body .modal__form .item:first-child {
	    width: 100%;
	}
}
//end 992px

@media screen and (max-width: 767px) {
	//page-single
	.page-single .page-single-price .page-single-price-content > div {
	    width: 100%;
	}
	//single-product
	.single-product-tab {
		.single-product-tab-content {
			.nav-tabs {
	    		@include flex-wrap( wrap );
	    		li {
				    width: 50%;
				    a.nav-link {
						border-right: 1px solid $bg-orange;
					    white-space: unset;
					}
					.nav-link.active {
					    border-bottom: 1px solid $bg-orange;
					}
				}
	    	}
	    	&:after {
			    content: "";
			    position: absolute;
			    right: 0;
			    bottom: 0;
			    width: 1px;
			    height: calc(100% - 20px);
			    background: $bg-orange;
			    z-index: 2;
			}
	    }
	}
}
//end 767px

@media screen and (max-width: 575px) {
	//home-partner
	.home-partner .home-partner-content .item {
	    margin: 30px 0;
	    padding-right: 15px;
	    padding-left: 15px;
	    width: 100%;
	    float: left;
	}
  #tool__society .tool__item {
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row; }
	#tool__society .tool__item .tool__icon {
		margin: 0 0 0 10px;
	}
	.single-product .single-product-content .single-product-info .entry-price .price > span {
		width: 100%;
	}
	.single-product .single-product-content .single-product-info .entry-price .price .price-news {
		padding: 0;
	}
	.single-product .single-product-content .single-product-info .entry-price .price .price-old {
		text-align: left;
	}
}
//end 575px

@media screen and (max-width: 480px) {

}
//end 480px

@media screen and (max-width: 400px) {

}
//end 400px

@media screen and (max-width: 320px) {

}
