//footer
.footer {
	.footer-top {
	    background: $bg-black;
	    color: #fff;
	    font-size: 16px;
		.footer-title {
			h2 {
			    color: #fff;
			    font-size: 18px;
			    font-family: 'PlayfairDisplayBold';
			    text-transform: uppercase;
			    padding: 50px 0 25px 0;
			    margin: 0;
			}
		}
		.fa {
		    color: #fff;
		    background: $orange;
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		    text-align: center;
		    @include border_radius( 5px );
		    float: left;
		    margin-right: 5px;
		}
		.footer-logo {
		    @extend display_flex;
		    @include align_items( center );
		    @include justify_content( center );
			.footer-logo-content {
				padding: 30px 0;
				.f-socical {
				    padding: 30px 0 0 0;
				    display: inline-block;
					.fa {
				    	@include border_radius( 50% );
					}
				}
			}
		}
		.footer-address {
			.footer-address-content {
				margin: 0 0 30px 0;
				> div {
				    margin-bottom: 20px;
				    display: inline-block;
				    width: 100%;
				    line-height: 30px;
					span {
					    display: inline-block;
					    float: left;
					    padding-left: 5px;
					    width: calc(100% - 35px);
					}
					&:first-child {
						line-height: 1.4;
					}
				}
			}
		}
		.footer-map {
			.footer-map-content {
			    position: relative;
			    width: 80%;
    			margin: 0 0 50px 0;
				img {
				    width: 100%;
				    max-height: 200px;
				}
				iframe {
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    z-index: 2;
				    max-height: 200px;
				}
			}
		}
	}
	.footer-bottom {
	    background: #4F4F4F;
	    font-size: 16px;
	    color: #fff;
	    padding: 10px 0;
	}
}


#tool__society {
	position: fixed;
	bottom: 45px;
	right: 10px;
	z-index: 9999;
	.tool__item {
		@extend display_flex;
		@include flex_direction( column );
		.tool__icon {
			display: inline-block;
			width: 48px;
			height: 48px;
			margin: 20px 0 0;
			@include border_radius( 50% );
			@include animation( zoom 1s infinite );
			@include animation_direction( alternate-reverse );
			font-size: 20px;
			padding: 5px;
			@include align_items( center );
			@include justify_content( center );
			color: #fff;
			background: $bg-orange;
			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
			}
			&.tool__icon_tel {
				background: #21BD56;
			}
			&.tool__icon_zalo {
				background: #2074C8;
			}
			&.tool__icon_mes {
				background: #007FFF;
			}
			&.tool__icon_back {
				padding: 9px;
				text-align: center;
			}
		}
	}
}

@keyframes zoom {
	from {
		box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 0px, rgba(16, 128, 199, 0.12) 0px 0px 0px 0px;
		-moz-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 0px, rgba(16, 128, 199, 0.12) 0px 0px 0px 0px;
		-webkit-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 0px, rgba(16, 128, 199, 0.12) 0px 0px 0px 0px;
		-o-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 0px, rgba(16, 128, 199, 0.12) 0px 0px 0px 0px;
		-ms-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 0px, rgba(16, 128, 199, 0.12) 0px 0px 0px 0px;
	}
	to {
		box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 5px, rgba(16, 128, 199, 0.12) 0px 0px 0px 10px;
		-moz-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 5px, rgba(16, 128, 199, 0.12) 0px 0px 0px 10px;
		-webkit-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 5px, rgba(16, 128, 199, 0.12) 0px 0px 0px 10px;
		-o-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 5px, rgba(16, 128, 199, 0.12) 0px 0px 0px 10px;
		-ms-box-shadow: rgba(16, 128, 199, 0.21) 0px 0px 0px 5px, rgba(16, 128, 199, 0.12) 0px 0px 0px 10px;
	}
}
