//header
.header {
    background: $bg-black;
	.header-content {
	    @extend display_flex;
	    @include align_items( center );
	    @include justify_content( space-between );
	    position: relative;
		.logo {
		    min-width: 90px;
		}

		.header-right {
		    display: inline-block;
		    white-space: nowrap;
		    a {
			    @extend display_flex;
			    @include align_items( center );
			    @include border_radius( 5px );
			    background: $bg-orange;
			    padding: 5px 10px;
			    margin-bottom: 10px;
			    color: #fff;
			    text-transform: uppercase;
			    .fa {
				    padding: 0 5px 0 0px;
				    width: 25px;
				    text-align: center;
				}
				span {
				    text-align: center;
				    width: 100%;
				    display: block;
				}
				&:last-child {
					background: $orange;
				    margin-bottom: 0;
				}
			}
		}
	}
}



//menu pc
.menu-primary {
    display: inline-block;
    width: 100%;
    position: relative;
    .main-menu {
		> div {
	        ul {
	        	@extend list_type_ulli;
	            li {
	                position: relative;
	                a {
					    color: #fff;
					    font-size: 14px;
					    padding: 0 25px;
					    position: relative;
					    text-transform: uppercase;
					    text-align: center;
					    font-family: 'PlayfairDisplayBold';
	                }
	                &:hover {
	                    > a {
						    // color: $orange;
						}
	                    > .sub-menu {
	                        @include transform( scale(1, 1) );
	                    }
	                }
	            }
	            // .current-menu-item > a {
	            // 	color: $orange;
	            // }
	        }
	        > ul {
	            > li {
					float: left;
				    padding: 30px 0;
				    &:hover {
						background: $bg-orange;
						@include transition( all 400ms ease 0s );
						> a {
					        color: #fff;
					    }
					}
					&:last-child , &:nth-last-child(2) {
						.sub-menu {
					        left: auto;
					        right: -1px;
						}
					}
	                > a {
						@extend display_flex;
						@include align_items( center );
						height: 38px;
						&::after {
						    position: absolute;
						    content: "";
						    width: 1px;
						    height: 100%;
						    right: 0;
						    top: 0;
						    background: #dedede;
						}
	                }
	                > .sub-menu {
	                	position: absolute;
	                    left: -1px;
	                    top: 100%;
	                    z-index: 2222;
	                    min-width: 100%;
						background: rgba(255, 255, 255, 0.95);
						padding: 0 15px 20px;
						border: 1px solid #BABABA;
				        min-width: 600px;
				        @include border_radius( 5px );
					    @include transform( scale(1, 0) );
					    @include transform_origin( 0 0 0 );
					    @include transition( all 400ms ease 0s );
					    &:after {
					        content: "";
					        position: absolute;
					        left: 0;
					        top: 7px;
					        width: 100%;
					        height: 3px;
					        background: $bg-orange;
					        z-index: 2;
					    }
					    > li {
					        width: 50%;
					        float: left;
					        padding: 0 15px;
					        &:nth-child(2n+1) {
								clear: left;
							}
							> a {
								background: $bg-orange;
								display: block;
								font-size: 15px;
								font-family: PlayfairDisplayBold;
								text-transform: uppercase;
								margin: 30px 0 5px;
							}
							.sub-menu {
								li {
						        	padding: 0;
						        	&:hover > a {
            							color: $orange;
            						}
									a {
									    text-transform: none;
									    display: block;
									    text-align: left;
									    padding-left: 0;
									    padding-right: 0;
									    color: $grey;
									    border-bottom: 1px dashed #D5AE41;
									    font-family: inherit;
									}
						    	}
						    }
					    }
	                    li {
	                    	a {
								padding: 10px;
	                    	}
	                    }
	                }
	            }
	            > .current-menu-item {
	            	background: $bg-orange;
	            	> a {
	            		color: #fff;
	            	}
	            }
	        }
	    }
	}
} 

//menu mobile
.menu-primary {
	.mean-container {
		.mean-bar {
		    background: none;
		    right: 0;
		    padding: 0;
		    position: absolute;
		    top: 2px;
		    z-index: 9;
		    max-width: 300px;
		    .meanmenu-reveal {
			    background: $bg-black;
			    border: 1px solid rgba(255, 255, 255, 0.5);
			    right: 0 !important;
			    left: auto;
			    top: 0;
			    height: 20px;
			    line-height: 20px;
			    width: 20px;
			    padding: 10px 11px 10px;
			    &:before, &:after {
				    content: "";
				    position: absolute;
				    left: 50%;
				    width: 20px;
				    height: 3px;
				    background: #fff;
				    @include transform( translateX(-50%) );
			    }
				&:before {
				    top: 27px;
				}
				&:after {
				    top: 20px;
				}
			}
			.meanclose {
				&:before {
				    display: none;
				}
				&:after {
				    display: none;
				}
			}
			.mean-nav {
			    background: $bg-black;
			    margin-top: 42px;
			    ul {
			    	li {
			    		border-top: 1px solid rgba(255, 255, 255, 0.5);
			    		a {
						    padding-bottom: 12px;
						    padding-top: 12px;
						    width: calc(86% - 30px);
        					border: none;
						    br {
						    	display: none;
						    }
						}
						.sub-menu {
							li {
								a {
						    		// text-transform: none;
								}
							}
						}
						.mean-expand {
						    height: 19px;
						    line-height: 19px;
					        width: 19px;
        					top: -1px;
						    &:hover {
							    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 575px) {
    .menu-primary .mean-container .mean-bar {
    	max-width: 100%;
	}
}
