//home
.home-banner {
	.home-banner-content {
		.item {
			figure {
				img {
					@extend background_cover;
				}
			}
		}
	}
}

.home-why {
	background-image: url("../images/img/bg-product.png");
    @extend background_cover;
	.title-section {
		h2 {
			color: #fff;
		}
	}
    .home-why-content {
    	padding-bottom: 35px;
		.item {
			margin: 0 0 30px;
			position: relative;
			z-index: 1;
			figure {
    			> a {
    				display: block;
					img {
						@include border_radius( 20px 0 20px 0 );
						@include transition( all 400ms ease 0s );
						@extend background_cover;
					}
					&:after {
						content: "";
						position: absolute;
						left: 4px;
						top: 4px;
						width: calc(100% + 2px);
						height: calc(100% + 2px);
						border: 3px solid #DFB65B;
						z-index: 3;
						@include border_radius( 20px 0 20px 0 );
					}
    			}
    			&:hover a img {
    				@include box_shadow( 10px 10px 10px rgba(0, 0, 0, 0.7) );
			    }
			}
			.info {
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    z-index: 2;
				.title {
					a {
						display: block;
						padding: 20px 0;
						background: rgba(255, 255, 255, 0.8);
						@include border_radius( 0 0 20px 0 );
						h3 {
				            font-size: 17px;
				            color: #000;
				            font-family: 'PlayfairDisplayBold';
				            text-transform: uppercase;
				            text-align: center;
				            margin: 0;
				            padding: 0 10px;
				            max-height: 40px;
				            overflow: hidden;
						}
					}
				}
			}
		}
    }
}

.home-service {
	.desc-section {
	    text-align: center;
	    font-size: 20px;
	    margin-bottom: 50px;
	    padding: 0 50px;
	}
    .home-service-content {
    	padding-bottom: 50px;
		.item {
			margin: 0 0 30px;
			position: relative;
			z-index: 1;
			figure {
				@include hover_img_toa();
    			a {
    				display: block;
    				border: 2px solid $bg-orange;
					@include border_radius( 20px );
					overflow: hidden;
					img {
						@extend background_cover;
					}
    			}
			}
			.info {
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    z-index: 2;
				.title {
					a {
				        display: block;
				        padding: 15px 0;
				        background: rgba(255, 255, 255, 0.8);
				        @include border_radius( 0 0 20px 0 );
						h3 {
							font-size: 17px;
							color: #000;
							font-family: PlayfairDisplayRegular;
							text-transform: uppercase;
							text-align: center;
							margin: 0;
							padding: 0 10px;
							max-height: 20px;
							overflow: hidden;
						}
					}
				}
			}
		}
    }
}

.home-ads {
	background-image: url("../images/img/bg-ads.png");
    @extend background_cover;
	.home-ads-content {
		.item {
			margin: 10px 0 20px;
	    	.info {
	    		text-align: center;
	    		font-family: PlayfairDisplayBold;
	    		font-size: 20px;
	    		color: #fff;
	    		text-transform: uppercase;
	    		.title {
	    			font-size: 40px;
	    		}
	    	}
		}
	}
}

.home-product {
	background-image: url("../images/img/bg-product.png");
	padding: 20px 0 40px;
    @extend background_cover;
	.title-section {
		h2 {
			color: #fff;
		}
	}
    .home-product-content {
		.item {
			margin: 0 0 30px;
			position: relative;
			z-index: 1;
			figure {
				@include hover_img_toa();
    			a {
    				display: block;
					img {
						@extend background_cover;
					}
    			}
    			.p-stt {
					position: absolute;
					left: 5px;
					top: 0;
					color: #fff;
					font-size: 33px;
				    background-image: url(../images/icon/stt-product.png);
				    @extend background_cover;
				    width: auto;
				    height: auto;
				    padding: 28px 3px;
				    background-position: left top;
				    z-index: 2;
				}
			}
			.info {
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    z-index: 2;
				.title {
					a {
					    display: block;
						h3 {
						    font-size: 17px;
						    color: $orange;
						    font-family: PlayfairDisplayBold;
						    text-transform: uppercase;
						    text-align: center;
						    margin: 0;
						    padding: 15px 10px;
						    background: rgba(255,255,255,0.8);
						}
					}
				}
			}
		}
		.read-more-section {
    		text-align: right;
			a {
			    color: #fff;
			}
		}
    }
}

.home-intro {
	.title-section {
		text-align: left;
		h2 {
			margin: 45px 0 0 0;
			&:after {
				display: none;
			}
		}
	}
	.desc-section {
	    text-align: left;
	    font-size: 20px;
	    margin-bottom: 25px;
	    padding: 0;
        min-height: 54px;
	}
	.home-intro-content {
		.home-intro-video, .home-intro-testimonial {
			margin: 0 0 10px 0;
		}
		.home-intro-video {
			.home-intro-video-content {
				position: relative;
				z-index: 1;
				img {
				    width: 100%;
				    height: 100%;
				}
				iframe {
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    z-index: 2;
				}
			}
		}
		.home-intro-testimonial {
			.home-intro-testimonial-content {
				.item {
					figure {
		    			a {
		    				display: block;
							img {
								@extend background_cover;
							}
		    			}
					}
				}
			}
		}
	}
}

.home-partner {
	.home-partner-content {
		background-image: url("../images/img/bg-product.png");
	    @extend background_cover;
		padding: 30px 0;
		margin: 15px 0 0;
		.item {
		    margin: 40px 0;
			padding-right: 15px;
			padding-left: 15px;
		    width: 20%;
		    float: left;
			figure {
				@include hover_img_toa();
    			a {
    				display: block;
				    @include border_radius( 20px );
				    overflow: hidden;
					img {
						@extend background_cover;
					}
    			}
			}
		}
	}
}

.home-news {
    background-image: url(../images/img/bg-news.png);
    @extend background_cover;
	.home-news-content {
		padding: 0 0 30px 0;
		.item {
		    margin: 0 0 30px 0;
		    &:hover .info .title a h3 {
		        font-weight: bold;
		        color: $bg-black;
		    }
			figure {
				@include hover_img_toa();
    			a {
    				display: block;
					img {
						@extend background_cover;
					}
    			}
			}
			.info {
				.title {
					a {
					    display: block;
						h3 {
							font-size: 20px;
							color: $grey;
							margin: 0;
						}
					}
				}
				.date {
				    font-size: 16px;
    				padding: 10px 0;
				}
			}
		}
		.read-more-section {
    		text-align: right;
		}
	}
}

