.page-category {
	.page-category-content {
		article {
			margin-bottom: 30px;
			.item {
		        @include box_shadow( 0px 0px 4px 0px #bfbfbf );
		        height: 100%;
    			background: #fff;
				figure {
					a {
						display: block;
						img {
							@extend background_cover;
						}
					}
				}
				.info {
				    padding: 0 20px;
					.date {
					    font-size: 16px;
						padding: 10px 0;
					}
					.title {
						a {
							display: block;
							h3 {
								font-family: PlayfairDisplayBold;
								font-size: 20px;
								color: $orange;
							    margin: 0 0 10px 0;
							    padding: 0;
							}
						}
					}
					.desc {
						font-size: 17px;
					}
					.read-more-section {
						a {
							padding: 30px 0;
						}
					}
				}
			}
		}
	}
}