.page-science {
    .module__page-science {
        .module__content {
            .science {
                .science__group {
                    --marginScience: 8px;
                    @extend display_flex;
                    @include align_items( inherit );
                    @include justify_content( flex-start );
                    @include flex_wrap( wrap );
                    margin: 0 calc(var(--marginScience) * (-1));
                    margin-bottom: 40px;
                    .science__item {
                        margin: 0 calc(var(--marginScience));
                        &:first-child {
                            max-width: 454px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        &:last-child {
                            max-width: 700px;
                            border: 1px solid $bg-orange;
                            @include flex( 1 );
                            @include border_radius( 5px );
                            padding: 20px 30px 0;
                            padding-right: 0;
                        }
                        .science__content {
                            .science__title {
                                font-weight: bold;
                                font-size: 22px;
                                text-align: center;
                                color: $orange;
                                margin-bottom: 2rem;
                                font-family: 'PlayfairDisplayBold';
                            }
                            .science__ct {
                                overflow-x: hidden;
                                overflow-y: auto;
                                max-height: 580px;
                                &::-webkit-scrollbar {
                                    width: 10px;
                                }
                                &::-webkit-scrollbar-track {
                                    background: #fff;
                                    border: 1px solid $bg-orange;
                                    @include border_radius( 5px );
                                }
                                &::-webkit-scrollbar-thumb {
                                    background: $bg-orange;
                                    @include border_radius( 5px );
                                }
                                &::-webkit-scrollbar-thumb:hover {
                                    background: #555;
                                }
                                .science__text {
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;
                                    line-height: 186.5%;
                                    @extend display_flex;
                                    @include justify_content( flex-start );
                                    @include flex_wrap( wrap );
                                    span {
                                        &:first-child {
                                            width: 35px;
                                        }
                                        &:last-child {
                                            text-align: left;
                                            width: 90%;
                                            @include flex( 1 );
                                        }
                                    }
                                    .science__number {
                                        color: $bg-orange;
                                        display: inline-block;
                                        font-size: 25px;
                                    }
                                }
                                .time__title {
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;
                                    color: $orange;
                                    margin-bottom: 20px;
                                    font-family: 'PlayfairDisplayBold';
                                }
                                .time__ca {
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 20px;
                                    line-height: 130%;
                                }
                                .time__not {
                                    font-style: italic;
                                    font-weight: normal;
                                    font-size: 17px;
                                    line-height: 130%;
                                }
                                .text--yell {
                                    display: block;
                                    color: $orange;
                                    font-style: normal;
                                    margin-top: 5px;
                                }
                                .group {
                                    @extend display_flex;
                                    margin-top: 22px;
                                    .item {
                                        &:first-child {
                                            width: 157px;
                                            height: 157px;
                                            border: 1px solid $bg-orange;
                                            background: #fff;
                                            font-style: normal;
                                            font-weight: normal;
                                            text-align: center;
                                            color: $orange;
                                            .month__day {
                                                font-size: 64px;
                                                display: block;
                                                font-family: PlayfairDisplayRegular;
                                            }
                                            .month {
                                                display: block;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 22px;
                                                text-align: center;
                                                font-family: PlayfairDisplayRegular;
                                            }
                                        }
                                        &:last-child {
                                            padding-left: 21px;
                                        }
                                        h3 {
                                            font-size: 20px;
                                            text-transform: uppercase;
                                            color: $orange;
                                            font-weight: 400;
                                            margin-bottom: 16px;
                                            font-family: PlayfairDisplayBold;
                                        }
                                        p {
                                            @extend display_flex;
                                            @include flex_wrap( wrap );
                                            @include align_items( center );
                                            .icon {
                                                display: inline-block;
                                                width: 18px;
                                                height: 18px;
                                                color: #fff;
                                                background: $bg-orange;
                                                @include border-radius( 2px );
                                                text-align: center;
                                                line-height: 18px;
                                                font-size: 12px;
                                                margin-right: 5px;
                                            }
                                            .text {
                                                font-size: 18px;
                                                font-style: normal;
                                                font-weight: 400;
                                                @include flex( 1 );
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(even) {
                        .science__item {
                            &:first-child {
                                @include order( 2 );
                            }
                            &:last-child {
                                @include order( 1 );
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    .modal-dialog {
        max-width: 922px;
        .modal-content {
            .modal-body {
                padding: 0;
                position: relative;
                .close {
                    color: #666;
                    position: absolute;
                    top: 15px;
                    right: 14px;
                    font-size: 2rem;
                    outline: none;
                    z-index: 1;
                    &:hover {
                        color: red;
                    }
                }
                .modal__form {
                    @extend display_flex;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    -webkit-box-align: unset;
                    -ms-flex-align: unset;
                    @include justify_content( flex-start );
                    @include align_items( unset );
                    @include flex_wrap( wrap );
                    .item {
                        &:first-child {
                            width: 50%;
                            img {
                                width: 100%;
                            }
                        }
                        &:last-child {
                            -webkit-box-flex: 1;
                            @include flex( 1 );
                            padding: 3rem;
                        }
                        .frame:before {
                            padding-top: 130%;
                        }
                        .form__title {
                            font-size: 24px;
                            color: #333;
                            font-family: PlayfairDisplayBold;
                            text-transform: uppercase;
                            display: inline-block;
                            border-bottom: 3px solid #000;
                            padding: 0 0 15px 0;
                            margin: 0 0 40px 0;
                        }
                        .form-group {
                            margin-bottom: 15px;
                        }
                        .form--input, .form--textarea {
                            font-size: 20px;
                            padding: 10px 15px;
                            border-color: $bg-orange;
                            height: auto;
                            @include border_radius( 4px );
                            &:focus {
                                @include box_shadow( none );
                            }
                            &::-webkit-input-placeholder {
                                color: #999;
                            }
                            &::-moz-placeholder {
                                color: #999;
                            }
                            &:-ms-input-placeholder {
                                color: #999;
                            }
                            &::placeholder {
                                color: #999;
                            }
                        }
                        .form--textarea {
                            min-height: 121px;
                        }
                        .bt--send {
                            background: $bg-orange;
                            color: #fff;
                            text-transform: uppercase;
                            font-family: PlayfairDisplayBold;
                            font-size: 18px;
                            padding: 5px 25px;
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
    }
}



.form-group-submit {
    display: block;
    text-align: center;
}


@media (max-width: 991.98px) {
    .page-science .module__page-science .module__content .science .science__group {
        margin-left: 0;
        margin-right: 0;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item {
        margin: 0;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item:first-child,
    .page-science .module__page-science .module__content .science .science__group .science__item:last-child {
        max-width: 100%;
        width: 100%;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item:last-child {
        padding: 30px;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__ct {
        max-height: unset;
    }

    .page-science .module__page-science .module__content .science .science__group:nth-child(even) .science__item:first-child {
        @include order( 1 );
    }
}

@media (max-width: 767.98px) {
    .page-science .module__page-science .module__content .science .science__group .science__item:last-child {
        padding: 15px;
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__title {
        margin-bottom: 15px;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__ct .science__text {
        font-size: 18px;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__ct .group .item:first-child {
        width: 139px;
    }
}

@media (max-width: 575.98px) {
    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__ct .group {
        display: block;
        background: #f7f7f7;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__ct .group .item:first-child {
        width: 100%;
        border: 0;
        background: #f7f7f7;
        border-bottom: 1px solid #ececec;
        padding: 0 15px;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__ct .group .item:last-child {
        padding: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 479.98px) {
    .modal .modal-dialog .modal-content .modal-body .modal__form .item:first-child {
        width: 100%;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__title {
        font-size: 18px;
        line-height: 28px;
    }

    .page-science .module__page-science .module__content .science .science__group .science__item .science__content .science__ct .science__text {
        font-size: 16px;
    }
}