.page-page {
	.page-page-content {
		
	}
}

// Global
.team-doctor {
	.title h3 {
		font-size: 22px;
		color: $orange;
		font-family: PlayfairDisplayBold;
		text-transform: uppercase;
		margin: 30px 0;
		padding: 0;
	}
	.desc-section {
		font-size: 20px;
		color: $grey;
	    margin: 0 0 50px 0;
	    text-align: center;
	}
	.team-doctor-content {
		padding: 0 0 50px 0;
		article {
			margin-bottom: 30px;
			.item {
			    height: 100%;
				figure {
					a {
						display: block;
						img {
							@extend background_cover;
						}
					}
				}
				.info {
					.title {
						a {
							display: block;
							h3 {
								font-family: PlayfairDisplayBold;
								font-size: 20px;
								color: #000;
								margin: 15px 0;
								padding: 0;
								text-transform: uppercase;
							}
						}
					}
					.desc {
					    font-size: 18px;
					    padding: 15px 0;
					    border-top: 1px solid $bg-orange;
					}
					.read-more-section {
						a {
						    padding: 5px 20px;
						    font-style: normal;
						    text-decoration: none;
						    font-size: 18px;
						    margin: 0;
						    border: 1px solid $bg-orange;
						}
					}
				}
			}
		}
	}
}

.team-doctor-popup-item {
	figure {
    	width: 50%;
    	float: left;
    	a {
		    display: block;
		    img {
			    width: 100%;
			}
		}
	}
	.info {
	    width: 50%;
	    float: left;
	    padding: 50px;
	    .title {
	    	a {
	    		display: block;
	    		h3 {
				    font-size: 24px;
				    font-family: PlayfairDisplayBold;
				    color: #000;
				    text-transform: uppercase;
				    margin: 10px 0;
				}
			}
		}
		.desc {
		    font-size: 18px;
		    padding: 0 20px 10px 0;
		    margin: 0 0 10px 0;
		    border-bottom: 2px solid #000;
		    color: $orange;
		    display: inline-block;
		}
	}
}


