.page-faq {
	.page-single-meta {
	    font-size: 22px;
	    color: $orange;
	    font-family: PlayfairDisplayBold;
	}
	.desc-section {
	    font-size: 20px;
	    color: $grey;
	    margin: 20px 0 50px;
	}
}

.faq-list {
	.faq-list-content {
		.item {
		    margin: 0 0 30px 0;
		    border: 1px solid $bg-orange;
		    @include border_radius( 5px );
		    padding: 10px 20px;
		    display: inline-block;
		    width: 100%;
		    font-size: 20px;
		    text-align: justify;
			figure {
			    float: left;
			    width: 80px;
			    padding-right: 10px;
			}
			.info {
			    float: left;
			    width: calc(100% - 80px);
			    .faq-user {
			    	.faq-user-title {
			    		a {
			    			display: block;
			    			h3 {
							    font-family: 'PlayfairDisplayBold';
							    color: $orange;
							    font-size: 22px;
							    margin: 0 0 5px 0;
							    padding: 0;
			    			}
			    		}
			    	}
			    	.faq-user-name {
			    		font-size: 16px;
						span {
						    color: $orange;
						}
			    	}
					.faq-user-date {
					    font-size: 16px;
					}
					.faq-user-faq {
					    color: #353535;
					    margin: 15px 0 20px 0;
					}
			    }
			    .faq-admin {
					.faq-admin-title {
					    color: $orange;
					}
					.faq-admin-support {
					    background: #F8EFDB;
					    display: inline-block;
					    width: 100%;
					    margin: 0 0 10px 0;
					    padding: 15px 10px;
						figure {
							a {
						    	display: block;
						    	background: #000;
							}
						}
						.info {
							.faq-admin-rep {
								max-height: 86px;
								overflow: hidden;
							}
							.read-more-section {
								a {
								    font-size: 20px;
								    font-style: normal;
								    text-decoration: none;
								    text-align: right;
								    display: block;
								}
							}
						}
					}
			    }
			}
		}
	}
}






