.page-feedback {
	.page-feedback-content {
		margin: 0 0 50px 0;
		.page-feedback-video {
			margin: 0 0 50px;
			.item {
				position: relative;
				z-index: 1;
				img {
					@extend background_cover;
				}
			}
			iframe {
			    position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    z-index: 2;
			}
		}
		.page-feedback-gallery {
			padding: 0 0 30px;
			a {
				display: block;
				position: relative;
				img {
					@extend background_cover;
				}
				.gallery-full-info {
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    width: 100%;
				    padding: 10px 30px;
				    background: rgba(255,255,255,0.7);
				    z-index: 2;
				    font-size: 18px;
				    text-align: center;
				    .gallery-full-info-title {
				    	color: $bg-black;
				    }
				    .gallery-full-info-desc {
				    	color: $grey;
				    	font-size: 17px;
				    }
				}
			}
			.gallery-full {
				border: 2px solid $bg-orange;
			    padding: 10px;
			}
			.gallery-thumbs {
				display: inline-block;
				width: 100%;
			    padding: 0 100px;
				ul {
				    @extend list_type_ulli;
				    margin: 0 -15px;
				    li {
					    width: calc(25% - 30px);
					    max-width: calc(25% - 30px);
					    float: left;
					    margin: 15px;
					    padding: 5px;
					    border: 2px solid transparent;
					}
					li.slick-current {
						border: 2px solid $bg-orange;
					}
				}
			}
			//fix center slick
			.slick-list {
				// padding: 0 !important;
			}
		}
	}
}
