.page-calendar .page-calendar-content {
    padding-top: 70%;
    position: relative;
    overflow: hidden;
}
.page-calendar .page-calendar-content iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 2;
}