.page-product {
	.page-product-content {
		padding-bottom: 50px;
		.item {
			margin: 0 0 30px;
			position: relative;
			z-index: 1;
			figure {
    			a {
    				display: block;
					img {
						@extend background_cover;
					}
    			}
    			.p-stt {
					position: absolute;
					left: 5px;
					top: 0;
					color: #fff;
					font-size: 33px;
				    background-image: url(../images/icon/stt-product.png);
				    @extend background_cover;
				    width: auto;
				    height: auto;
				    padding: 28px 3px;
				    background-position: left top;
				    z-index: 2;
				}
			}
			.info {
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    z-index: 2;
				.title {
					a {
					    display: block;
						h3 {
						    font-size: 17px;
						    color: $orange;
						    font-family: PlayfairDisplayBold;
						    text-transform: uppercase;
						    text-align: center;
						    margin: 0;
						    padding: 15px 0;
						    background: rgba(255,255,255,0.7);
						}
					}
				}
			}
		}
	}
}