.page-single {
	.page-single-meta {
	    font-size: 20px;
	    text-align: center;
	    color: #fff;
	    padding: 20px 100px;
	    margin: 30px 0;
		background-image: url("../images/img/bg-product.png");
	    @extend background_cover;
	}

	.page-single-info {
	    margin: 30px 0;
		span {
	    	color: $bg-black;
	    	font-size: 16px;
		}
	}

	.page-single-content {
		// padding: 30px 0 0;
	}


	.page-single-price {
	    margin: 30px 0;
	    display: inline-block;
	    width: 100%;
		.page-single-price-title {
		    font-size: 20px;
		    font-weight: bold;
		    color: $orange;
		    margin: 20px 0;
		}
		.page-single-price-content {
		    font-size: 20px;
		    text-align: center;
			> div {
			    width: 50%;
			    float: left;
				> div {
					padding: 10px 0;
					color: $orange;
					border: 1px solid $bg-orange;
					&:first-child {
					    background: $bg-orange;
					    color: #fff;
					    font-weight: bold;
					}
				}
				&:first-child {
					> div {
						&:first-child {
					    	border-right: 1px solid #fff;
						}
					}
					&:nth-child(2) {
					    border-right: none;
					}
				}
			}
		}
	}
}

// Global
.page-ads {
	.page-ads-content {
	    text-align: center;
	    margin: 30px 0;
	    img {
		    width: 100%;
		}
		a {
		    font-size: 18px;
		    color: #fff;
		    background: $bg-orange;
		    font-family: 'PlayfairDisplayBold';
		    padding: 15px 30px;
		    display: inline-block;
		    margin: 30px;
		    text-transform: uppercase;
		    @include border_radius( 5px );
		}
	}
}

.related-post {
    padding: 30px 0;
    background-image: url(../images/img/bg-news.png);
    @extend background_cover;
	.related-title {
	    text-align: center;
	    margin: 30px 0;
	    h3 {
	        font-size: 30px;
	        text-transform: uppercase;
	        margin: 0;
	        font-family: PlayfairDisplayBold;
	        color: $orange;
	    }
	}
	.related-post-content {
		article {
			margin-bottom: 30px;
			.item {
			    height: 100%;
				figure {
					a {
						display: block;
						img {
							@extend background_cover;
						}
					}
				}
				.info {
					.title {
						a {
							display: block;
							h4 {
								font-family: PlayfairDisplayBold;
								font-size: 20px;
								color: $orange;
							    margin: 10px 0;
							    padding: 0;
							}
						}
					}
					.desc {
						font-size: 17px;
					}
				}
			}
		}
	}
}




