.single-product {
	.single-product-content {
		padding: 30px 0;
		.single-product-gallery {
			img {
				@extend background_cover;
			}
			.gallery-full {
				border: 1px solid $bg-orange;
			    padding: 5px;
			}
			.gallery-thumbs {
				display: inline-block;
				width: 100%;
				ul {
				    @extend list_type_ulli;
				    margin: 0 -5px;
				    li {
					    width: calc(25% - 10px);
					    max-width: calc(25% - 10px);
					    padding: 5px;
					    float: left;
					    margin: 10px 5px;
					    border: 1px solid transparent;
					}
					li.slick-current {
						border: 1px solid $bg-orange;
					}
				}
			}
			//fix item < 3
			.fix-item-mobile .slick-current {
				border: 1px solid transparent !important;
			}
			//fix center slick
			.slick-list {
				// padding: 0 !important;
			}
		}
		.single-product-info {
			.entry-title {
			    font-size: 30px;
			    color: #DFB65B;
			    font-family: 'PlayfairDisplayBold';
			}
			.entry-price {
			    margin: 30px 0;
				.price {
				    display: inline-block;
				    width: 100%;
				    > span {
					    display: block;
					    float: left;
				        width: 50%;
				        font-weight: bold;
					}
					.price-news {
					    font-size: 36px;
					    color: $orange;
					    font-weight: 700;
					    padding: 0 15px 0 0;
					}
					.price-old {
					    font-size: 30px;
					    text-decoration: line-through;
					    text-align: right;
					}
				}
			}
			.entry-meta {
			    font-size: 16px;
			}
			.entry-brand {
			    font-size: 18px;
			    color: $bg-black;
			    margin: 15px 0 0;
			}
			.entry-desc {
			    font-size: 20px;
			    padding: 50px 0;
			    margin: 30px 0;
			    border-top: 1px solid $bg-orange;
			    border-bottom: 1px solid $bg-orange;
			}
			.entry-button {
				a {
				    background: $bg-orange;
				    color: #fff;
				    font-size: 18px;
			        margin: 15px 15px 0 0;
				    font-weight: bold;
				    text-transform: uppercase;
				    padding: 10px 20px;
				    @include border_radius( 5px );
				    display: inline-block;
					.fa {
					    margin-right: 10px;
					}
					.product__control {
						display: inline-block;
					}
				}
			}
			.entry-hotline {
			    font-size: 18px;
			    margin: 20px 0;
				span {
				    color: #EB5757;
				}
			}
		}
	}
}

.related-product {
    @extend background_cover;
	.related-title {
	    text-align: left;
	    border-bottom: 2px solid $bg-orange;
	    margin: 30px 0;
	    h3 {
	        font-size: 20px;
	        text-transform: uppercase;
	        margin: 0 0 5px 0;
	        font-family: PlayfairDisplayBold;
	        color: $orange;
	    }
	}
	.related-product-content {
		.item {
			margin: 0 0 30px;
			position: relative;
			z-index: 1;
			figure {
    			a {
    				display: block;
					img {
						@extend background_cover;
					}
    			}
			}
			.info {
				.title {
					a {
					    display: block;
						h3 {
						    font-size: 18px;
						    color: $grey;
						    margin: 0;
						    padding: 15px 0;
						}
					}
				}
				.price {
				    display: inline-block;
				    width: 100%;
				    > span {
					    display: block;
					    float: left;
					    line-height: 20px;
				        width: 50%;
					}
					.price-news {
					    font-size: 20px;
					    color: $orange;
					    font-weight: 700;
					    padding: 0 15px 0 0;
					}
					.price-old {
					    font-size: 18px;
					    text-decoration: line-through;
					    text-align: right;
					}
				}
			}
		}
	}
}

.single-product-tab {
	.single-product-tab-content {
	    margin: 30px 0 50px;
	    position: relative;
	    .nav-tabs {
		    border: none;
		    width: 100%;
		    @extend display_flex;
		    @include flex_wrap( nowrap );
	        li {
	        	width: 100%;
	            a.nav-link {
	                border: 1px solid $bg-orange;
	                border-right: none;
	                @include border_radius( 5px 5px 0 0 );
	                color: $bg-orange;
				    font-size: 20px;
				    font-weight: bold;
				    padding: 15px 30px;
				    white-space: nowrap;
				    text-align: center;
				    background: transparent;
	            }
	            .nav-link.active {
	                color: $orange;
	                border-bottom: none;
	            }
	            &:last-child {
	                a {
	                    border-right: 1px solid $bg-orange;
	                }
	            }
	        }
	    }
	    .tab-content {
	        padding: 30px;
		    border: 1px solid $bg-orange;
		    border-top: none;
	        clear: both;
	        // margin-right: 1px;
	    }
	}
}


