.tax-product {
	.tax-product-info {
		padding: 0 0 100px 0;
		.tax-product-desc {
			font-size: 20px;
			text-align: justify;
		    margin: 0 0 30px 0;
		}
		.tax-product-thumbnail {
			img {
				width: 100%;
			}
		}
	}
	.tax-product-content {
		padding-bottom: 50px;
		.tax-product-list {
			article {
				margin-bottom: 30px;
				.item {
					height: 100%;
					position: relative;
					z-index: 1;
					figure {
		    			a {
		    				display: block;
							img {
								@extend background_cover;
							}
		    			}
					}
					.info {
						.title {
							a {
							    display: block;
								h3 {
								    font-size: 18px;
								    color: $grey;
								    margin: 0;
								    padding: 15px 0;
								}
							}
						}
						.price {
						    display: inline-block;
						    width: 100%;
						    > span {
							    display: block;
							    float: left;
							    line-height: 20px;
						        width: 50%;
							}
							.price-news {
							    font-size: 20px;
							    color: $orange;
							    font-weight: 700;
							    padding: 0 15px 0 0;
							}
							.price-old {
							    font-size: 18px;
							    text-decoration: line-through;
							    text-align: right;
							}
						}
					}
				}
			}
		}
	}
}

.sidebar {
	.widget {
		margin: 0 0 30px 0;
		.category-title {
			a {
				display: block;
				h3 {
				    background: $bg-orange;
				    color: #fff;
				    font-size: 20px;
				    text-transform: uppercase;
				    text-align: center;
				    padding: 15px 10px;
				    margin: 0;
				    border-bottom: 1px solid #333;
				}
			}
		}
		.widget-content {
			ul {
				@extend list_type_ulli;
				li {
				    padding: 15px 40px 15px 25px;
				    border-bottom: 1px solid #c7c7c7;
					a {
						display: block;
						color: $bg-black;
						font-size: 18px;
						text-transform: uppercase;
					}
				}
				.active {
				    background: #e9e9e9;
				    position: relative;
				    a:after {
					    content: "";
					    position: absolute;
					    right: 20px;
					    top: 50%;
					    border-right: 2px solid $bg-black;
					    border-top: 2px solid $bg-black;
					    padding: 5px;
					    @include transform( translateY(-50%) rotate(45deg) );
				    }
				}
			}
		}
	}
}


