body {
    //arrow
    .slick-prev {
        left: 20px;
        &::before {
            border-left: 2px solid #fff;
            @include transform( translate(-30%, -50%) rotate(-45deg) );
        }
    }
    .slick-next {
        right: 20px;
        &::before {
            border-right: 2px solid #fff;
            @include transform( translate(-60%, -50%) rotate(45deg) );
        }
    }
    .slick-prev, .slick-next {
        background: transparent;
        height: 40px;
        width: 40px;
        z-index: 2;
        @include border_radius( 50% );
        &::before {
            border-top: 2px solid #fff;
            content: "";
            font-size: 0;
            left: 50%;
            opacity: 1;
            padding: 5px;
            position: absolute;
            top: 50%;
        }
        &:hover, &:focus {
            background: #000;
        }
    }

    #cboxPrevious:focus, #cboxNext:focus {
        outline: none;
    }
    .slick-slide {
        height: auto;
    }
    .slick-slide:focus {
        outline: none;
    }

    //dot
    .slick-slider {
        .slick-dots {
            bottom: 30px;
            left: 0;
            li {
                @include border_radius( 50% );
                height: auto;
                padding: 3px;
                width: auto;
                border: 1px solid transparent;
                button {
                    background: transparent;
                    @include border_radius( 50% );
                    color: #fff;
                    height: auto;
                    padding: 7px;
                    width: auto;
                    border: 1px solid #000;
                    &::before {
                        content: "";
                    }
                }
            }
            .slick-active {
                // border: 1px solid #000;
                button {
                    background: #000 none repeat scroll 0 0;
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }


    //fix theme
    .home-product-content {
        .slick-prev, .slick-next {
            background: #000;
        }
        .slick-prev {
            left: -50px;
        }
        .slick-next {
            right: -50px;
        }
    }
    .home-intro-testimonial-content {
        .slick-prev, .slick-next {
            background: rgba(255,255,255,0.7);
            &::before {
                border-top: 2px solid $grey;
            }
        }
        .slick-prev {
            left: 10px;
            &::before {
                border-left: 2px solid $grey;
            }
        }
        .slick-next {
            right: 10px;
            &::before {
                border-right: 2px solid $grey;
            }
        }
    }
    .related-product-content {
        .slick-prev, .slick-next {
            background: #E0E0E0;
            top: -60px;
            @include transform( none );
            @include border_radius( unset );
            width: 20px;
            height: 20px;
            &::before {
                border-top: 2px solid $grey;
                padding: 3px;
            }
        }
        .slick-prev {
            right: 38px;
            left: auto;
            &::before {
                border-left: 2px solid $grey;
            }
        }
        .slick-next {
            right: 15px;
            &::before {
                border-right: 2px solid $grey;
            }
        }
    }
    .single-product-content {
        .slick-prev, .slick-next {
            background: $bg-orange;
            height: 30px;
            width: 30px;
        }
    }
    .page-feedback-content {
        .page-feedback-video {
            .slick-prev, .slick-next {
                background: $bg-orange;
                height: 40px;
                width: 40px;
            }
            .slick-prev {
                left: -60px;
            }
            .slick-next {
                right: -60px;
            }
        }
        .page-feedback-gallery {
            .slick-prev, .slick-next {
                background: $bg-orange;
                height: 30px;
                width: 30px;
            }
            .slick-prev {
                left: -85px;
            }
            .slick-next {
                right: -85px;
            }
        }
    }

    //venobox
    a.vbox-next, a.vbox-prev {
        width: 40px;
        height: 80px;
        span {
            top: 50%;
            border: 4px solid transparent;
            border-top-color: #fff !important;
            border-right-color: #fff !important;
        }
    }
    a.vbox-next {
        span {
            right: 15px;
            transform: translateY(-50%) rotate(45deg);
            @include transform( translateY(-50%) rotate(45deg) );
        }
    }
    a.vbox-prev {
        span {
            left: 15px;
            transform: translateY(-50%) rotate(-135deg);
            @include transform( translateY(-50%) rotate(-135deg) );
        }
    }
    .vbox-close {
        right: 15px;
        background: $bg-orange !important;
        font-weight: bold;
        color: #fff !important;
    }
    .vbox-num {
        margin: 0;
        background: $bg-orange;
        padding: 10px 15px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }

}