.breadcrumbs {
    padding: 15px 0;
    color: #fff;
    background-image: url("../images/img/bg-product.png");
    @include background_size( cover );
    background-repeat: repeat-x;
    background-position: top center;
    font-size: 17px;
    text-transform: uppercase;
    a, span {
	    color: #fff;
	    font-size: 17px;
	    text-transform: uppercase;
        display: inline-block;
    }
    span {
        padding: 0 5px;
    }
    > a {
	    padding: 0 10px;
	}
    .wc-delimiter:last-child {
        padding: 0 15px 0 5px;
    }
}


// .banner-page {
//     position: relative;

// 	.breadcrumbs-position {
// 		.breadcrumbs {
// 		    position: absolute;
// 		    top: 0;
// 		    left: 0;
// 		    width: 100%;
// 		    color: #fff;
// 		    a, span {
// 		        color: #fff;
// 		    }
// 		}
// 	}
// }