.form-faqs {
    input, textarea {
        width: 100%;
        border: 1px solid $bg-orange;
        @include border_radius( 4px );
        padding: 10px;
        margin: 0 0 30px 0;
        color: $grey;
        font-size: 20px;
        &:focus {
            border: 1px solid $bg-orange;
        }
        &[type=submit] {
            font-size: 20px;
            text-transform: uppercase;
            font-family: PlayfairDisplayBold;
            color: #fff;
            background: $bg-orange;
            width: auto;
        }
    }
}

// contact form
form{
    br {
        display: none;
    }
    .wpcf7-not-valid-tip {
        // margin-top: 5px;
    }
    .wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok {
        border: medium none;
        color: red;
        margin: 10px 0;
        padding: 0;
    }
    .wpcf7-mail-sent-ok {
        color: green;
    }
}
