//pagenavi NavXT
.navigation {
	text-align: center;
	.wp-pagenavi {
	    display: inline-block;
	    overflow: hidden;
	    margin: 30px 0;
		@include border_radius( 5px );
		overflow: hidden;
		border: 1px solid $bg-orange;
	    a, span {
	        padding: 5px 15px;
	        color: $orange;
	        font-size: 18px;
	        display: inline-block;
	        background: #fff;
	        margin: 0;
	        border: 1px solid $bg-orange;
		    border-left: 1px solid $bg-orange;
		    float: left;
	        &:hover {
	            background: $bg-orange;
	            color: #fff;
	        }
	    }
	    span.current {
	        background-color: $bg-orange;
	        color: #fff;
	    }
		span.extend {
		    padding: 17.5px 15px;
		}
	}
}


//pagenavi WooCommerce
.navigation {
    text-align: center;
    ul {
		@extend list_type_ulli;
	    display: inline-block;
	    overflow: hidden;
	    margin: 30px 0;
		@include border_radius( 5px );
		overflow: hidden;
		border: 1px solid $bg-orange;
	    li {
		    float: left;
		    a, span {
		        padding: 5px 15px;
		        color: $orange;
		        font-size: 18px;
		        display: inline-block;
		        background: #fff;
		        margin: 0;
			    border-left: 1px solid $bg-orange;
			    float: left;
		        &:hover {
		            background: $bg-orange;
		            color: #fff;
		        }
			}
			.current {
		        background-color: $bg-orange;
		        color: #fff;
			}
		}
	}
}

// //pagenavi page search
// .page-navi {
//     display: block;
//     width: 100%;
//     overflow: hidden;
//     text-align: right;
//     margin-bottom: 30px;
//     background: green;
//     @include border_radius( 20px );
//     .page-numbers {
// 	    color: #000;
// 	    padding: 5px 15px;
// 	    display: inline-block;
// 	}
// 	.current {
// 	    font-weight: bold;
// 	    color: green;
// 	}
// }